@import url(https://mui.com/material-ui/api/app-bar/#app-bar-classes-colorInfo);

.MuiAppBar-colorDefault {
  background: linear-gradient(to right, #f6c553, #e9520c);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.tCardGradient {
  background: linear-gradient(to right, #f6c553, rgb(242, 175, 175));

  transition: all 0.3s ease;

  cursor: pointer;
}

.tCardGradient:hover {
  background: linear-gradient(to right, #e9520c, #f6c553);
  transform: scale(1.05);
  /* Slightly increase size on hover */
}

.tCardContainer{
  background: linear-gradient(to right, #f7e1b0, rgb(237, 220, 220));
}

.tableContainer{
  background: linear-gradient(to right, #fbded3, #f1e2bf);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

  border-radius:5px;
  transform: scale(1.05);
  cursor: pointer;

}
